/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/TestesTiposPrimitivos/nbproject/private/
/TestesTiposPrimitivos/build/
/MediaComSwing/nbproject/private/
/MediaComSwing/build/
/CalculadoraIdades/nbproject/private/
/QuestaoTres/nbproject/private/
/CalculadoraIdades/build/
/calculadoraidade/nbproject/private/
/calculadoraidade/build/
/OperadoresAritimeticos/nbproject/private/
/OperadoresAritimeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/